.droppable__image {
  border: 2px solid var(--border);
  margin-bottom: 10%;
  line-height: 1;
  padding: 1rem;
  border-radius: 0.5rem;
}
.droppable__image img {
  object-fit: cover;
  max-height: 6rem;
  border-radius: 0.5rem;
}
