@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Sonsie+One&display=swap');

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 80vmin;
  margin: 0 auto;
  padding-top: 30vh;
  color: #ffffff;
}

h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-family: 'Sonsie One', cursive;
}

p {
  padding-bottom: 1rem;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  line-height: 1.5;
}

.timeline {
  color: #000000;
  padding: 3rem;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  width: 100vw;
  height: 100vh;
}
