@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Sonsie+One&display=swap');

.timeline__box {
  padding: 0;
}

.timeline__box h4 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 5%;
}

.box__image {
  height: 12rem;
  transition: transform 1s ease-in;
}

.box__image:hover,
.box__image:focus,
.box__image:active {
  transform: scale(1.2);
}

.box__text {
  font-size: 1rem;
  padding: 5%;
}
.vertical-timeline-element-content {
  overflow: hidden;
}

.box__controls {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 15%;
}

.box__button {
  height: 3rem;
  width: 8rem;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 1rem;
  background-color: var(--red);
  color: white;
}

.box__button--more {
  background-color: var(--text);
}

.vertical-timeline-element-content {
  box-shadow: none;
  border: 2px solid var(--border);
  padding: 0;
  border-radius: 1rem;
}

.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.3rem;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  padding: 0;
}

@media only screen and (max-width: 1170px) {
  .vertical-timeline-element-icon {
    font-size: 0.8rem;
  }
}

/*další breakpoint 700px*/

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 0;
    width: 44%;
  }
}
