@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Sonsie+One&display=swap');

.quiz__box {
  font-family: 'Roboto Mono', sans-serif;
}

.quiz__box h2,
.quiz__box h3 {
  text-align: left;
  padding: 5% 0 5% 0;
  margin: 0;
  color: var(--text);
}

.quiz__box h2 {
  font-size: 2rem;
}

.quiz__box h3 {
  font-size: 1.5rem;
}

q {
  font-style: oblique;
}

.author {
  text-align: right;
  font-size: 0.6rem;
}

.quiz__options {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.quiz__options img {
  max-width: 20%;
  object-fit: cover;
  border-radius: 0.7rem;
}

.quiz__options .selected__option {
  padding: 0.3rem;
}
.quiz__box .controls {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.header__img {
  position: absolute;
  top: 15%;
  right: 15%;
  height: 30%;
  width: 30%;
  border-radius: 0 1rem 0 0;
}
