@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Sonsie+One&display=swap');

.band_container.droppable__box {
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.band__names {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  gap: 0.2rem;
}
.band__root {
  flex-basis: 40%;
  background-color: var(--border);
  border-radius: 0.5rem;
}

.band__root p {
  color: white;
}

.band__names .droppable__image {
  display: flex;
  flex-direction: row-reverse;
  width: 30em;
  height: 5rem;
  padding: 0;
  margin: 0;
}

.band__names .droppable__image p {
  padding: 0.5rem;
  width: 30%;
  margin: auto 0;
}

.band__names .droppable__image img {
  width: 6rem;
}

.band_container .drag-item {
  height: 4rem;
  margin: 5px auto;
  border-radius: 0.5rem;
  border: 2px solid var(--border);
  background-color: var(--background);
}
