@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Sonsie+One&display=swap');

.band_container.droppable__box {
  margin: 0;
  display: flex;
  height: 40rem;
}

.band__names {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.band__names .droppable__image {
  flex-basis: 25%;
}
