.more {
  margin-top: 5%;
}

.more__text {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.more__paragraph {
  margin-bottom: 1rem;
}

.more h2,
.more h3 {
  text-align: left;
  padding: 5% 0 5% 0;
  margin: 0;
  color: var(--text);
}

.more h2 {
  font-size: 2rem;
}

.more h3 {
  font-size: 1.5rem;
}

.more h4 {
  margin-top: 10%;
}

.more__source {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.button--solution {
  margin-top: 6rem;
}

.solution {
  display: none;
}

.solution--open {
  display: contents;
}

.more__source a {
  text-decoration: none;
}

@media (max-width: 700px) {
  .more__text {
    font-size: 0.8rem;
  }

  .more__source {
    font-size: 0.8rem;
  }
}
